<!DOCTYPE html>
<html>
{% load static %}
<head>
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <link rel="stylesheet" type="text/css" href="{% static 'countries/css/layout.css' %}">
	<title>Can you name the countries?</title>
</head>
<body>
	<div id="name-div">
		<h1>Point to: </h1>
	</div>
<div id="map-div"></div>
<script type="text/javascript">
	bounds = new L.LatLngBounds(new L.LatLng(73.448263, -169.448588), new L.LatLng(-54.676427, 178.580836));
	var map = L.map('map-div',{
		minZoom: 2,
		maxZoom: 3,
		defaultZoom:3,
		maxBounds: bounds,
		maxBoundsViscosity: 0.75
	})
	.setView([15,20], 3)
	.setZoom(2);

	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);
	L.control.scale().addTo(map);
</script>
</body>
</html>